:root{
    --padding_top_bottom: 30px;
}

@media only screen and (min-width: 1000px) {
    html {
        background-image: url("../src/JOHN\ TOWNER_Unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  }

@media only screen and (max-width: 600px) {
html {
    background-image: url("../src/JOHN\ TOWNER_Unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
}


html{
    /* background-position-y: -300px; */
    font-family: 'Handjet', cursive;
    font-family: 'Ysabeau SC', sans-serif;
    color: white;
    cursor:url(../src/cursor.cur),auto;
    background-attachment: fixed;

}

body{

    background: transparent;
    width: 95%;
    margin: auto;
    color: white;
    /* text-decoration: underline; */

    font-family: 'Handjet', cursive;
    font-family: 'Ysabeau SC', sans-serif;

}

#welcome_title{

    font-size: 46px;
    position: relative;
    right: 1000px;

    margin: auto;
    text-align: center;
    padding-top: 40px;
    /* padding-bottom: 20px; */

    font-family: 'Borel', cursive;
    animation-name: title_slide;
    animation-duration: 2s;
    right: 0px;

    /* animation-iteration-count: infinite; */

}

.first_third{

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;

}

.quote_container{

    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;

    animation-name: firstThird;
    animation-duration: 2s;
    top: 0px;

}

@keyframes firstThird {

    0%   {top: 100px; opacity: 0;}
    100%  {top: 0px; opacity: 1;}
    
  }

  .firstThird_container{

    position: relative;

    top: 0px;

    animation-name: firstThird;
    animation-duration: 2s;
    top: 0px;

}


.secondThird_container{

    position: relative;
    bottom: 100px;

    animation-name: secondThird;
    animation-duration: 2s;
    bottom: 0px;

  }

  @keyframes secondThird {

    0%   {bottom: 100px; opacity: 0;}
    100%  {bottom: 0px; opacity: 1;}
    
  }

.ThirdThird_container{

position: relative;
left: 100px;

animation-name: thirdThird;
animation-duration: 2s;
left: 0px;

}

@keyframes thirdThird {

0%   {left: 100px; opacity: 0;}
100%  {left: 0px; opacity: 1;}

}

.forthThird_container{

    position: relative;
    right: 100px;
    
    animation-name: forthThird_container;
    animation-duration: 2s;
    right: 0px;
    
    }
    
    @keyframes forthThird_container {
    
    0%   {right: 100px; opacity: 0;}
    100%  {right: 0px; opacity: 1;}
    
    }


.fx_i1{

    padding-top: var(--padding_top_bottom);
    padding-bottom: var(--padding_top_bottom);
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    color:white;

}

.icon_containers{

    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
}



.prof_pic{

    position: relative;
    top: 30px;
    padding:10px;
    width: 230px;
    height: auto;
    border-radius: 25px;
    border-style:double;
    border-color: white;
    box-shadow: 10px 10px 10px rgb(67, 22, 43);

}

.inner_quote_1{

    position: relative;
    text-align: center;
    top: 10px;


}

.inner_quote{

    position: relative;
    top: 10px;
    /* padding-top: 30px; */

}

.quote_container:hover .prof_pic{

    transition: 0.5s;
    box-shadow: 10px 10px 10px rgb(115, 105, 131);

}

.inner_quote{
    font-size: x-large;
    text-align: center;
}
/* .quote_container:hover .inner_quote{

    transition: 0.5s;
    

} */
.front_padding{

    margin-left: auto;
    margin-right: auto;
    width: 500px;
    max-height: 30%;
    /* border-bottom: solid; */

}

#notion_chart{
    min-height: 220px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;

}

.s1{

    width: 50%;
    margin: auto;
    animation-delay: 1s;
    animation-name: social-rot;
    animation-duration: 0.5s;
    /* animation-delay: 9s; */
    /* animation-iteration-count: infinite; */

}

.s2{

    width: 50%;
    margin: auto;
    animation-delay: 1.5s;
    animation-name: social-rot;
    animation-duration: 0.5s;
    /* animation-delay: 9.5s; */
    /* animation-iteration-count: infinite; */
}

.s3{

    width: 50%;
    margin: auto;
    animation-delay: 2s;
    animation-name: social-rot;
    animation-duration: 0.5s;
    /* animation-delay: 10s; */
    /* animation-iteration-count: infinite; */
    
}

.s4{

    width: 50%;
    margin: auto;  
    animation-delay: 2.5s;
    animation-name: social-rot;
    animation-duration: 0.5s;
    /* animation-delay: 10.5s; */
    /* animation-iteration-count: infinite; */
    
}

@keyframes social-rot {

    /* 0%   {width: 50%;}
    50% {width: 60%;}
    100%  {width: 50%;} */
    0%   {width: 50%; transform: rotate(0deg);}
    25%   {transform: rotate(30deg);}
    50% {width: 60%; }
    75%   {transform: rotate(-30deg);}
    100%  {width: 50%; transform: rotate(0deg);}
    
  }

.social_container{

    padding-top: 10px;

    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    justify-content: space-between;
    width: 75%;
    margin: auto;



}

.social_icon:hover{

    /* position: relative; */
    transition: 0.5s;
    width: 60%;

}

.disapearing{

    width: 35px; 
    height: auto;
    /* background-image: url("https://cdn-icons-png.flaticon.com/512/709/709612.png"); */
    opacity: 1;
    /* background-color: red; */
    animation-name: anim_eye;
    animation-duration: 4s;
    /* animation-name: anim_eye2;
    animation-duration: 2s; */
    animation-iteration-count: infinite;

}

.second_third{

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.columns_grid {
    display: grid;
    grid-template-columns: auto ;
    gap: 0px 20px;
  }

  

  .first_education{

    background-image: url("https://uploads-ssl.webflow.com/5a57b3d9f98088000123eb4c/5eb9a067b0347957f67c9686_WebRes_IMG_05910-173.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* filter: blur(1px); */

  }

  .second_education{

    background-image: url("https://www.ucaldas.edu.co/portal/wp-content/uploads/2020/05/programas-especiales.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* filter: blur(1px); */

  }

  .third_education{

    background-image: url("https://certificadossena.net/wp-content/uploads/2022/10/carreras-tecnicas-y-tecnologicas-en-sena-manizales-1024x555.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* filter: blur(1px); */

  }


  .edu_card:hover{

    transition: 0.5s;
    box-shadow: -4px -4px 5px rgb(175, 174, 171);

  }

  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    /* position: fixed;
    bottom: 0; */
    width: 100%;          /* Footer height */         /* Footer height */
}


  @keyframes anim_eye {
    /* from {background-image: url("https://cdn-icons-png.flaticon.com/512/709/709612.png");} */
    /* from {opacity: 1;} */
/*     
    to {background-image: url("https://cdn-icons-png.flaticon.com/512/8901/8901348.png");} */
    /* to {opacity: 0;} */

    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100%  {opacity: 1;}
    
  }

  @keyframes title_slide {

    0%   {right: 1000px;}
    50%  {right: -200px;}
    51% { transform: translate(1px, 1px) rotate(0deg); }
    60% { transform: translate(-1px, -2px) rotate(-2deg); }
    65% { transform: translate(-3px, 0px) rotate(4deg); }
    75% { transform: translate(0px, 0px) rotate(0deg); }
    100%  {right: 0px;}
    
  }